$primary-color: #0000ff;
$primary-accent-color: #498000ff;

$secondary-color: #5f321cff;
$light-secondary-color: #AD5C34ff;
$dark-secondary-color: #3F2113ff;

$background-color: #EDE7D4FF;
$light-background-color: #F9F7F1FF;
$dark-background-color: #CFBF8CFF;

$secondary-background-color: #E7DFC6ff;

$facebook-blue: #202C59ff;
$instagram-pink: #B61641ff;


:export {
    secondaryColor: $secondary-color;
    backgroundColor: $background-color;
    facebookBlue: $facebook-blue;
    instagramPink: $instagram-pink;
}