@import ../../global-styles/main

.header
  margin: 0
  padding: 0
  opacity: 1
  position: fixed
  background: rgb(110,59,33)
  background: linear-gradient(145deg, rgba(110,59,33,1) 0%, rgba(95,50,28,1) 37%)
  height: 100vh
  width: 20vw
  top: 0
  right: 0
  z-index: 1
  box-shadow: $bs1000
  border-left: 10px solid $light-secondary-color

.linkContainer
  padding: 1rem 2rem
  position: relative
  top: 6rem
  display: flex
  flex-direction: column
